
*{background-image: url("https://i.pinimg.com/564x/c7/be/46/c7be4604d5d43093cf54c5cb4650c02f.jpg");
  margin: 0;
  padding: 0;
}.backgroundhome{
  background-image: url("https://i.pinimg.com/564x/c7/be/46/c7be4604d5d43093cf54c5cb4650c02f.jpg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;

}
.logout{
  position: fixed;
  background-color: rgb(255, 255, 255);
  left:1390px;
  top:640px;
  width: 80px;
  height:80px;
  border-radius: 90px;
}
    
.team-label{
   position: fixed;
   left:1370px;
   top:10px;
   color: white;
   font-size: 25px;
}
.rajya-label{
    font-size: 40px;
    color: rgb(247, 250, 252);
    font-family: 'Abril Fatface', serif;
    top:10px;
    position: fixed;
    left:525px;
    
}
.defence-label{
    position: fixed;
    color: white;
    top:360px;
    left: 300px;
}
.aviation-label{
  position: fixed;
    color: white;
    top:360px;
    left:690px;
}

  
  
  .defence-button {
    position: fixed;
    font-size: 20px;
    color: white;
    padding: 100px 100px;
    border-radius: 15px;
    top:180px;
    left:400px;
    border: 0;
    background-image: url('https://i.pinimg.com/564x/07/8b/27/078b27538f559bc5b730af2254ba9bff.jpg');
    background-size: cover;
    color: transparent;
    
  }
  .homeaffairs-button {
    position: fixed;
    font-size: 20px;
    color: white;
    padding: 100px 100px;
    border-radius: 15px;
    top:180px;
    left:930px;
    border-width: 0px;
    border-color: white;
    background-image: url('https://i.pinimg.com/564x/12/2a/d4/122ad4ee941380d84dea9bfba3462f5f.jpg');
    background-size: cover;
    color: transparent;
    
  }
  .teacher-button{
    position: fixed;
    font-size: 20px;
    color: white;
    padding: 100px 100px;
    border-radius: 15px;
    top:460px;
    left:930px;
    border: 0;
    background-image: url('https://i.pinimg.com/564x/72/4b/1f/724b1fb8c46d725dcf2adc58a7dfd788.jpg');
    background-size: cover;
    color: transparent;
  }
  
  .aviation-button {
    position: fixed;
    font-size: 20px;
    color: white;
    border: 0;
    padding: 100px 100px;
    border-radius: 15px;
    top:460px;
    left:400px;
    background-image: url('https://i.pinimg.com/564x/0c/e4/c0/0ce4c04db6dc21013c52a43647e34759.jpg');
    background-size: cover;
    color: transparent;

  }
  .chat{
    position: fixed;
    top:90px;
    left:1170px;
    border-radius: 30px;
    border: 0;
  }
  
  .emergency-button {
    position: fixed;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 15px;
    border: 0;
    position: fixed;
    top:570px;
    right:90px;
    padding: 9px;
  }
  